h1
{
    color: orange;
    font-size: 32px;
    font-family: sans-serif;
}

h2 
{
    background-color: rgb(0, 255, 242);
}

h3
{
   background-color: powderblue;
}

p
{
   font-family: 'Times New Roman', Times, serif;
}
